@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html body{
    padding: 0;
    margin: 0;
    height: 100%;
}

html{
    
    background-image: url("background.jpg");
    background-size: cover;
    font-size: 30px;
    background-position: center center;
}

.button{

background-color: #cc4331;
font-size:22px;
line-height:42px;
color:white;
outline:0 !important;
margin-top: -4px;
text-align:center;
box-shadow: 0 4px 0 #b46960, 0 5px 5px 1px rgb(70, 69, 69);
border-radius:4px;
padding: 5px 25px 5px 25px;
transition: all 0.15s ease-in-out;

}

.button:hover{

background-color: #d25544;
box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px black;

}

.button:active{
margin-top:0;
box-shadow:none;

}

.button--close{

background-color: #f5f5f5;
color: #999;
box-shadow: 0 4px 0 #cecece, 0 5px 5px 1px rgba(0,0,0,0.45);
border: 1px solid #f5f5f5;
}

.button--close:hover{

background-color: white;
box-shadow: 0 4px 0 #b6b6b6, 0 5px 5px 1px rgba(0,0,0,0.45);
}


.center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);

}
h1, p{

font-family: 'Indie Flower', cursive;
}
#modal-background{

background-color: rgba(0,0,0,0.45);
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index: -10;
opacity: 0;
transition: opacity 0.25s ease-in-out,z-index 0.25s ease-in-out;

}

#modal-background.active{

opacity: 1;
z-index: 10;

}

#modal-box{

background-color: white;
position: fixed;
top:50%;
left:50%;
padding: 25px;
min-width: 600px;
max-width: 800px;
z-index: 11;
transform: translate(-50%,-50%);
border-radius: 4px;
opacity: 0;
z-index: -10;
}

#modal-box.active{

opacity: 1;
z-index: 11;

}

.text-right{

text-align: right;
}